// Grid
$container-max-width: 700px;

// Color
$body-background: #EEEEEE;

$muted-color: #B6B6B6;
$primary-color: #3F51B5;

// Typography
$font-family: 'Poppins', sans-serif;
$font-size: 18px;
$title-font-family: 'Poppins', sans-serif;

$base-line-height: 1.62em;

$text-color: #616161;
$title-color: #202020;
$link-color: #0077aa;
$link-hover-color: lighten($link-color, 8);

// Responsive
$responsive-break: 700px;

// Plugins
$fa-font-path: "../font";
$fa-css-prefix: icon;
