body {
	margin: 0;
}
.container {
	max-width: $container-max-width;
	margin: 0 auto;
	padding: 0 16px;
}
.half-column {
	width: 50%;
}
@media screen and (max-width: $responsive-break) {
	.half-column {
		width: 100%;
	}
}
