.menu {
	background: #3F51B5;
	border: 10px solid #fff;
	a {
		float: left;
		display: inline-block;
		padding: 8px 0;
		width: 33.33%;
		color: #fff;
		font-weight: 600;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: background .2s ease-in-out;
		-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
		&:hover {
			background: rgba(255, 255, 255, .1);
		}
		&:focus {
			background: none;
		}
		&:hover:focus {
			background: rgba(255, 255, 255, .1);
		}
	}
}
@media screen and (max-width: $responsive-break) {
	.menu {
		a {
			float: none;
			width: 100%;
		}
	}
	.menu-itens {
		height: 0;
		visibility: hidden;
		transform: translateZ(0);
	    transform: scaleY(0);
		transition: all .2s ease-in-out;
		transform-origin: top;
		&.active {
			height: 135px;
		    transform: scaleY(1);
			visibility: visible;
		}
	}
}
